
.info {
    background-color: transparent !important;
    color: white !important;
}

.title {
    font-family: 'Caudex';font-size: 22px;
}

.body {
    font-family: 'Caudex';font-size: 22px;
    line-height: 30px;
    letter-spacing: 10%;
    word-spacing: 10%;
}

.card {
    background-color: transparent !important;
    color: white !important;
}

.personInfo {
    padding: 1px !important;
    text-align: center !important;
    font-size: 12px !important;
}

.media-content {
    text-align: center !important;
}

.is-4 {
    font-size: 20px !important;
}

.emphasis {
    font-size: large;
}

.center {
    margin: auto;
    width: 50%;
    padding: 0px;
  }

.astramap {
    font-size: 46px !important;
}